* {
  box-sizing: border-box;
}
header {
  box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
  height: 120px;
  display: flex;
}
.container {
  width: 1222px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
nav {
  width: 711px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
  margin: auto;
}
.home {
  color: orange;
}
.downl {
  height: 56px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 12px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
}
.reg {
  height: 56px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 12px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}
main {
  height: 912px;
  background-image: url("./i1.png");
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  align-items: center;
}
.main-container {
  display: flex;
  align-items: center;
}
.main-content {
  height: 586px;
  width: 586px;
}
.main-title {
  height: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #ff5634;
}
.main-text {
  height: 144px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 72px;
  color: #121212;
}
.main-descr {
  height: 61px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #656565;
}
.bttns {
  display: flex;
}
.lbttn {
  height: 73px;
  background: #ff5634;
  border: 1px solid #ff5634;
  border-radius: 16px;
  padding: 25px 40px;
  margin-right: 15px;
}
.rbttn {
  height: 73px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 16px;
  padding: 25px 40px;
  margin-right: 15px;
}
hr {
  margin-top: 60px;
}
span {
  height: 67px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  color: #ff5634;
}
.number p {
  height: 67px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  color: #656565;
}
